<nav class="topnav">
    <ul class="navigation">
        <button> <a href="/about">About</a></button>
        <button> <a href="/Listings">See Listings</a></button>

        {{#if  user}}
        <p>Hi {{user.username}} </p> | <a href="/logout">Logout</a>
        {{else}}
        <button> <a href="/login">Log In</a></button>
        {{/if }}


        <button> <a href="/search">Search</a></button>
        <button> <a href="/contact">Register</a></button>
    </ul>
</nav>
