<nav class="topnav">
    <ul class="navigation">
        <button> <a href="/about">About</a></button>
        <button> <a href="/Listings">See Listings</a></button>
        <button> <a href="/contact">Register</a></button>
        <button> <a href="/profile">Profile</a></button>
        <button> <a href="/dashboard">Dashboard</a></button>
        {{#if  user}}
        <button><a href="/logout">Logout</a></button>
        {{else}}
        <button> <a href="/login">Log In</a></button>
        {{/if }}
    </ul>
</nav>
