    <nav class="topnav">
        <ul class="navigation">
            <button onclick="document.getElementById('bg-modal').style.display='block'">About</button>
            <button> <a href="/Listings">See Listings</a></button>
            <button onclick="document.getElementById('id02').style.display='block'">Sign in</button>
            <button onclick="document.getElementById('id03').style.display='block'">Search/ Registration</button>
            <button> <a href="/contact">Contact Us</a></button>
        </ul>
    </nav>
