<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      

<p>Where are you? Not where you want to be. Not just yet</p> 
<p>Browse through the properties listed here to find that special place that tickles your fancy.</p>
<p>Our listings our homeowners opening their doors and hearts</p>
<p>So why book an overpriced unoriginal hotel room ?  Explore the world, feel at home.</p>

{{> footer}}      

</body>

</html>