<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      
</div>


{{!-- document.getElementById("d1").innerHTML = "Where are you? Not where you want to be. Not just yet. " ;
document.getElementById("d2").innerHTML = "Browse through the properties listed here to find that special place that tickles your fancy." ;
document.getElementById("d3").innerHTML = "Our listings our homeowners opening their doors and hearts." ;
document.getElementById("d4").innerHTML = "So why book an overpriced unoriginal hotel room ?  Explore the world, feel at home. " ; --}}





{{> footer}}      

</body>

</html>