<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      

    <h1>Sign Up</h1>
    <h2>Please fill in this form to create an account.</h2>
    <hr>

<form action="/contact-form-process" method="POST" enctype="multipart/form-data">
    <table style="border: 1px solid aaaaaa; padding: 6px;">
        <tr>
          <td><label for="fname">First Name</label></td>
          <td><input type="text" maxlength="20"  size="20" placeholder="First Name" id="fname" name="fname" pattern="[A-Za-z]*" title="Must begin with alphabet" required></td>
        </tr>
        <tr>
          <td><label for="lname">Last Name</label></td>
          <td><input type="text" maxlength="25"  size="20" placeholder="Last Name" id="lname" name="lname"  pattern="[A-Za-z]*" title="Must begin with alphabet" required></td>
      </tr>
      <tr> 
        <td><label for="email">Email</label></td>
        <td><input type="text" maxlength="75" size="40" placeholder="Email Address" id="email" name="email" require ></td>
       </tr>
       <tr>
        <td><label for="psw">Password</label></td>
        <td><input type="password" placeholder="Enter Password" name="password" id="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
      </tr>
      <tr>
        <td><label for="psw-repeat"><b>Repeat Password</b></label></td>
        <td><input type="password" placeholder="Repeat Password" name="psw-repeat" id="confirm_password" required></td>
       </tr>
      <tr>
         <td>&nbsp;</td>
         <td><input type="submit" value="Submit"><a href="/dashboard"></a></td>
       </tr>
    </table>
</form>

<script type="text/javascript"></script> 

{{> footer}}      

        <script src="myscripts.js"></script>       

</body>

</html>
