<!DOCTYPE html>
<html lang="en">
<head>
    <script src="myscripts.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayAnywhere</title>
</head>

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo">
    <nav class="topnav">
        <ul class="navigation">
            <button onclick="document.getElementById('bg-modal').style.display='block'">About</button>
            <button> <a href="/Listings">See Listings</a></button>
            <button onclick="document.getElementById('id01').style.display='block'">Registration</button>
            <button onclick="document.getElementById('id02').style.display='block'">Sign in</button>
            <button onclick="document.getElementById('id03').style.display='block'">Search</button>
            <button> <a href="/contact">Contact Us </a></button>
        </ul>
    </nav>


<form action="/contact-form-process" method="POST" enctype="multipart/form-data"></form>
    <table style="border: 1px solid aaaaaa; padding: 6px;"></table>
        <tr>
          <td><label for="fname">First Name</label></td>
          <td><input type="text" maxlength="20"  size="20" placeholder="First Name" id="fname" name="fname"></td>
        </tr>
        <tr>
          <td><label for="lname">Last Name</label></td>
          <td><input type="text" maxlength="25"  size="20" placeholder="Last Name" id="lname" name="lname"></td>
       </tr>
       <tr>
        <td><label for="email">Email</label></td>
        <td><input type="text" maxlength="75"  size="40" placeholder="Email Address" id="email" name="email"></td>
       </tr>
       <tr>
        <td><label for="reason">Reason</label></td><br/>
        <td>
            <input type="radio" name="reason" id="reason1" value="M"  for="MoreInfo">More Information</label><br/>
            <input type="radio" name="reason" id="reason2" value="T"  for="Toubleshooting">Toubleshooting</label><br/>
            <input type="radio" name="reason" id="reason3" value="O"  for="other">Other</label><br/>
        </td>
       </tr>
       <tr>
         <td>&nbsp;</td>
         <td><input type="submit" value="Submit"></td>
       </tr>







</body>

</html>
