<!doctype html>
<html>
{{> header}}      

<body>
  <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
  <title>Creating a Room</title>

{{ nav}}      

  {{!-- <div style="text-align: center">
  </div>
  <div>
    <p>{{ message }}</p>
  </div> --}}

  <div style="width:400px;border:1px dashed #6495de;padding:16px;">
    <form action="/addListings" method="POST" enctype="multipart/form-data">
      <table>
        <tr>
          <td>
            <label for="name">Room Name</label>
          </td>
          <td>
            <input id="name" name="name" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="price">Price</label>
          </td>
          <td>
            <input id="price" name="price" type="text" /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="location">Location</label>
          </td>
          <td>
            <input id="location" name="location" type="text" /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="description">Description</label>
          </td>
          <td>
            <input id="description" name="description" type="text" /><br />
          </td>
        </tr>
        <tr>
          <td>
            <label for="photo">Photo</label>
          </td>
          <td>
            <input id="photo" name="photo" type="file" />
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
          <td>
            <input type="submit" value="Upload" />
          </td>
        </tr>
    </form>
  </div>



  {{footer}}      

</body>

</html>