<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
    <h1>Welcome to StayAnywhere</h1>
{{> nav}}      
</div>

{{#if  user.admin }}
<a href="/createListings">Create a Listing</a> 
{{/if}}>

<h2 id="dashBoard"></h2>
<p> Hello {{user.fname}}</p>


{{> footer}}      

</body>

</html>