<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="myscripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href='/About'>Go Home</a>
    <a href='/Listings'>Go to the list page</a>
    <a href='/Registration'>Go to the Registration page</a>

  <a href="" class="click me">Submit</a>
    <div class="bg-modal">
        <div class="modal-content"></div>
        <div class="close">+</div>
        <img src="https://richardmiddleton.me/comic-100..." alt="">
        <form action="">
            <input type="text" placeholder="Nmae">
            <input type="text" placeholder="E-mail">
            <a href="" class="button">Submit</a>
        </form>


    </div>
</body>
</html>