<!DOCTYPE html>
<html lang="en">
<head>
    <script src="myscripts.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
           background-image: url("Images/pexels-oliver-sjöström-1433052.jpg");
           background-size: cover ; 
        }
     </style>
    <title>StayAnywhere</title>
</head>

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo">
    <nav class="topnav">
        <ul class="navigation">
            <button onclick="document.getElementById('bg-modal').style.display='block'">About</button>
            <button> <a href="/Listings">See Listings</a></button>
            <button onclick="document.getElementById('id01').style.display='block'">Registration</button>
            <button onclick="document.getElementById('id02').style.display='block'">Sign in</button>
            <button onclick="document.getElementById('id03').style.display='block'">Search</button>
        </ul>
    </nav>
</div>



  <footer>
    <nav>
          <a href="http://www.facebook.com/my_page"
            >Facebook <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/?hl=en"
            >Instagram <i class="fab fa-instagram-square"></i>
          </a>
          <a href="https://twitter.com/">Twitter <i class="fab fa-twitter"></i> </a>
          <a href="https://www.tiktok.com/en/">TicTok <i class="fab fa-tiktok"></i></a>          
    </nav>
  </footer>

</body>

</html>