<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav }}      
{{!-- {{> nav user}}     if the LOGIN User name doesntb work  --}}   






{{> footer}}      

</body>

</html>