<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="form.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
    <nav>
        <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo">
        <ul class="navigation">
            <a href="/Listings"><button>See Listings</button></a>

            <div class="popup" id="popup-1">
                    <div class="overlay"></div>
                    <div class="content">
                    <div class="close-btn" onclick="togglePopup1()"  >&times;</div>
                    <p id="d1"></p>
                    <p id="d2"></p>
                    <p id="d3"></p>
                    <p id="d4"></p>
                    </div>
                </div>
            <button onclick="togglePopup1()">About </button>

            <div class="form-popup" id="myForm">
                <form action="/action_page.php" class="form-container">
                  <h1>Login</h1>
              
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required></input>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required></input>
              
                  <button type="submit" class="btn">Login</button>
                  <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
              </div>



        </ul>
    
    </nav>
</div>



<footer>
 <p class="center"> StayAnywhere &copy; </p> 
</footer>
    <script src="myscripts.js"></script>
    <script src="form.js"></script>

</body>

</html>