<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      


<section>
    <div class="grid">
      <div class="grid-item"><img src="Images/pexels-binyamin-mellish-1396132.jpg" alt="cant see" class="logo" > <p>Quebec City-$200/night </p></div>
      <div class="grid-item"><img src="Images/pexels-eberhard-grossgasteiger-730981.jpg" alt="cant see"  ><p>Edmonton -$220/night </p></div>
      <div class="grid-item"><img src="Images/pexels-frans-van-heerden-632522.jpg" alt="cant see" >  <p>Vancouver -$320/night </p></div>
      <div class="grid-item"><img src="Images/pexels-pixabay-314937.jpg" alt="cant see" ><p>Saskatoon -$300/night </p></div>
      <div class="grid-item"><img src="Images/pexels-mike-463996.jpg" alt="cant see" ><p>Toronto -$130/night </p></div>
      <div class="grid-item"><img src="Images/pexels-skitterphoto-794.jpg" alt="cant see" ><p>Halifax -$420/night </p></div>
    </div>
</section>


{{> footer}}      

</body>

</html>