<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      

{{#if errorMsg}}
<h2>{{errorMsg}}</h2>
{{else}}
<h2> Please Login below</h2>
{{/if }}


<form name="signUp" class="modal-content" action="/login" method="POST" enctype="multipart/form-data">
  <div class="container">
  
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required id="email">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required id="password">
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
      <button type="submit" class="signup">Login</button>
  </div>
</form>


<script src="myScript.js"></script>



{{> footer}}      
        <script src="myscripts.js"></script>       

</body>

</html>