<!doctype html>
<html>
    {{> header user}}
<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
    {{> nav  }}

    <label class="fixedlabel">First Name:</label>{{user.fname}}<br/>
    <label class="fixedlabel">Last Name:</label>{{user.lname}}<br/>
    <label class="fixedlabel">E-mail:</label>{{user.email}}<br/>
    <a href="/profile/edit">Edit</a>
    {{> footer user}}
</body> 
</html> 